body {
    font-family: Arial;
    text-align: center;
    background-color: #f2f2f2;
}

input {
    padding: 8px;
}

button {
    padding: 8px;
    cursor: pointer;
}

li {
    list-style: none;
    margin: 5px;
}